<div class="container" fxFlexFill fxLayout="column">

  <div class="search-form">
    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Filter users">
    </mat-form-field>

    <button mat-mini-fab class="fa fa-user-plus">
    </button>
  </div>

  <div fxLayout="row" class="list-stat-block" fxFlex>

    <div class="list-block" fxFlex>
      <mat-table #table [dataSource]="dataSource" fxFlex>
        <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="progress">
          <mat-header-cell *matHeaderCellDef> Progress </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="color">
          <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
    
    <div class="stat-block" fxFlex>
      <p>stat block</p>
    </div>
  </div>

</div>