/* Structure */

.search-form {
  min-height: 50px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}
.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-cell {
  font-size: 0.75em;
}

/* .mat-header-row {
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
} */