<mat-sidenav id="nav" mode="side" opened="true" fxFlex="100px" fxLayoutAlign="center">
    <mat-nav-list>
        <mat-list-item matTooltip="Characters">
            <a mat-raised-button routerLink="/characters" routerLinkActive="active" class="fa fa-users fa-lg"></a>
        </mat-list-item>
        <mat-list-item matTooltip="Monsters">
            <a mat-raised-button routerLink="/monsters" routerLinkActive="active" class="fa fa-optin-monster fa-lg"></a>
        </mat-list-item>
        <mat-list-item matTooltip="Encounters">
            <a mat-raised-button routerLink="/encounters" routerLinkActive="active" class="fa fa-gavel fa-lg"></a>
        </mat-list-item>
        <mat-list-item matTooltip="Encounter Runner">
            <a mat-raised-button routerLink="/runner" routerLinkActive="active" class="fa fa-forward fa-lg"></a>
        </mat-list-item>
    </mat-nav-list>
</mat-sidenav>